<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body}, 'class')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container mt-sm-2 mt-lg-0 mb-2">
        <div class="row">
            <div class="col">
                <img class="center rounded mt-5" th:src="@{/image/class/{id}(id=${class.id})}" alt="Class Image Cover" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <h1 class="display-3 card-header p-3 user-select-none" th:inline="text">[[${class.name}]] ([[${class.classTypeCommand.name}]])</h1>
                    <div class="card-body">
                        <h1 class="display-5 p-3 bg-info bg-opacity-25 rounded text-center fw-bold user-select-none" th:text="#{students}"></h1>
                        <h2 id="studentNav" class="card-title user-select-none" th:inline="text">[[#{listOfStudents}]] (Found: [[${totalStudent}]])</h2>
                        <form>
                            <div class="row">
                                <div class="col-sm-4">
                                    <input id="classId" type="hidden" th:value="${class.id}">
                                    <input id="page" type="hidden" th:value="${page}">
                                    <input id="totalPage" type="hidden" th:value="${totalPage}">
                                    <input id="name" class="form-control" name="name" th:value="${name}" type="text" placeholder="Find by name...">
                                </div>
                                <div class="col-sm-4">
                                    <select id="recPP" name="recordPerPage" class="form-select">
                                        <option value="5" th:selected="${recordPerPage == 5}">5</option>
                                        <option value="10" th:selected="${recordPerPage == 10}">10</option>
                                        <option value="20" th:selected="${recordPerPage == 20}">20</option>
                                        <option value="50" th:selected="${recordPerPage == 50}">50</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-success" th:text="#{find}" type="submit"></button>
                                </div>
                            </div>
                        </form>
                        <table class="table table-hover user-select-none mt-3">
                            <thead class="bg-warning bg-opacity-25">
                            <tr>
                                <th scope="col" th:text="#{name}">Name</th>
                                <th scope="col" th:text="#{phone1}">Phone 1</th>
                                <th scope="col" th:text="#{phone2}">Phone 2</th>
                                <th scope="col" th:text="#{details}">Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${students}">
                                <td th:text="${student.firstName} + ' ' + ${student.lastName}">Student name</td>
                                <td th:text="${student.contactCommand.phone1}">Phone 1</td>
                                <td th:text="${student.contactCommand.phone2}">Phone 2</td>
                                <td><a th:href="@{/student/{id}(id=${student.id})}" th:text="#{details}">Details</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="card-text user-select-none text-black-50" th:inline="text">[[#{page}]] [[${page}]]/[[${totalPage}]] </p>
                        <nav aria-label="Table navigation">
                            <ul class="pagination">
                                <li class="page-item"><a id="p1" class="page-link" href="#" th:text="#{firstPage}">First</a></li>
                                <li th:if="${page} - 1 > 0" class="page-item"><a id="p2" href="#" class="page-link"  th:text="${page - 1}">1</a></li>
                                <li class="page-item active"><a id="p3" class="page-link" href="#" th:text="${page}">2</a></li>
                                <li th:if="${page} + 1 <= ${totalPage}" class="page-item"><a id="p4" class="page-link" href="#" th:text="${page+1}">3</a></li>
                                <li th:if="${page} + 2 <= ${totalPage}" class="page-item"><a id="p5" class="page-link" href="#" th:text="${page+2}">4</a></li>
                                <li th:if="${page} + 3 <= ${totalPage}" class="page-item"><a id="p6" class="page-link" href="#" th:text="${page+3}">5</a></li>
                                <li th:if="${page} + 4 <= ${totalPage}" class="page-item"><a id="p7" class="page-link" href="#" th:text="${page+4}">6</a></li>
                                <li th:if="${page} + 5 <= ${totalPage}" class="page-item"><a id="p8" class="page-link" href="#" th:text="${page+5}">7</a></li>
                                <li class="page-item"><a id="p9" class="page-link" href="#" th:text="#{lastPage}">Last</a></li>
                            </ul>
                        </nav>
                        <hr />
                        <h1 class="display-5 p-3 bg-danger bg-opacity-25 rounded text-center fw-bold user-select-none" th:text="#{teachers}"></h1>
                        <div class="row">
                            <div th:each="teacher : ${teachers}" class="col-lg-4 col-md-6 col-8">
                                <div class="card mb-3 mt-3 border-teacher" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <a th:href="@{/teacher/{id}(id=${teacher.id})}">
                                                <img th:src="@{/image/teacher/{id}(id=${teacher.id})}" class="img-fluid rounded-start" alt="Teacher's picture">
                                            </a>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <a class="link" th:href="@{/teacher/{id}(id=${teacher.id})}">
                                                    <h5 class="card-title" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}">Card title</h5>
                                                </a>
                                                <p class="card-text user-select-none">
                                                    <span th:if="${teacher.contactCommand.phone1 != null && teacher.contactCommand.phone1 != ''}" th:inline="text">
                                                        [[#{phone1}]]: [[${teacher.contactCommand.phone1}]]
                                                    </span>
                                                    <br />
                                                    <span th:if="${teacher.contactCommand.phone2 != null && teacher.contactCommand.phone2 != ''}" th:inline="text">
                                                        [[#{phone2}]]: [[${teacher.contactCommand.phone2}]]
                                                    </span>
                                                    <br />
                                                    <span th:if="${teacher.contactCommand.address != null && teacher.contactCommand.address != ''}" th:inline="text">
                                                        [[#{city}]]: [[${teacher.contactCommand.city}]]
                                                    </span>
                                                    <br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 th:if="${teachers.size() == 0}" class="fw-normal user-select-none" th:text="#{noTeachers}">There are no teachers</h1>
                        <hr />
                        <h1 class="display-5 p-3 bg-primary bg-opacity-25 rounded text-center fw-bold user-select-none" th:text="#{analyze}"></h1>
                        <!-- Analyze 1 -->
                        <h2 class="card-title user-select-none" th:text="#{classRoomAnalyze1}">Analyze 1</h2>
                        <form>
                            <div class="row">
                                <div class="col-lg-4 col-6">
                                    <select name="analyze1" class="form-select">
                                        <option value="all" th:text="#{all}"></option>
                                        <option th:each="classRoom : ${classRooms}"
                                                th:if="${!classRoom.name.equals(class.name)}"
                                                th:selected="${analyze1.equals(classRoom.id.toString())}"
                                                th:value="${classRoom.id}"
                                                th:text="${classRoom.name}">Class Name</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <button class="btn btn-success" th:text="#{analyze}" type="submit">Submit Button</button>
                                </div>
                            </div>
                        </form>
                        <canvas id="chart1" style="width:100%;max-width:700px"></canvas>
                        <input id="xValue1" type="hidden" name="xValue1" th:value="${xValue1}">
                        <input id="xValue2" type="hidden" name="xValue2" th:value="${xValue2}">
                        <input id="yValue1" type="hidden" name="yValue1" th:value="${yValue1}">
                        <input id="yValue2" type="hidden" name="xValue1" th:value="${yValue2}">
                        <input id="updateStatus1" type="hidden" name="updateStatus1" th:value="${updateStatus1}">
                        <!-- End Analyze 1 -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5"></div>

    <script>
        function generateAnalyze1(){
            var xValues = [document.getElementById("xValue1").value, document.getElementById("xValue2").value];
            var yValues = [document.getElementById("yValue1").value, document.getElementById("yValue2").value];
            var barColors = ["green","orange"];
            new Chart("chart1", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: document.getElementById("updateStatus1").value,
                    }
                }
            });
        }
        generateAnalyze1();

        let classId = document.getElementById("classId").value;
        let page = document.getElementById("page").value;
        let name = document.getElementById("name").value;
        let totalPage = document.getElementById("totalPage").value;
        let recPP = document.getElementById("recPP").value;

        let p1 = document.getElementById("p1");
        if (p1 != null)
            p1.onclick = function () {
                location.href = `/class/${classId}?currentPage=1&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p2 = document.getElementById("p2");
        if (p2 != null)
            p2.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page - +1}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p3 = document.getElementById("p3");
        if (p3 != null)
            p3.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p4 = document.getElementById("p4");
        if (p4 != null)
            p4.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page+1}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p5 = document.getElementById("p5");
        if (p5 != null)
            p5.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page+2}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p6 = document.getElementById("p6");
        if (p6 != null)
            p6.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page+3}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p7 = document.getElementById("p7");
        if (p7 != null)
            p7.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page+4}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p8 = document.getElementById("p8");
        if (p8 != null)
            p8.onclick = function () {
                location.href = `/class/${classId}?currentPage=${+page+5}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }
        let p9 = document.getElementById("p9");
        if (p9 != null)
            p9.onclick = function () {
                location.href = `/class/${classId}?currentPage=${totalPage}&name=${name}&recordPerPage=${recPP}#studentNav` ;
            }

    </script>
</body>
</html>