<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body}, 'class')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container mt-sm-2 mt-lg-0 mb-2">
        <div class="row">
            <div class="col">
                <img class="center rounded mt-5" th:src="@{/image/class/{id}(id=${class.id})}" alt="Class Image Cover" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">

                <div class="card">
                    <h1 class="display-3 card-header p-3" th:inline="text">[[${class.name}]] ([[${class.classTypeCommand.name}]])</h1>
                    <div class="card-body">
                        <h2 id="studentNav" class="card-title user-select-none" th:inline="text">[[#{listOfStudents}]] (Total: [[${totalStudent}]])</h2>
                        <table class="table table-hover user-select-none">
                            <thead>
                            <tr>
                                <th scope="col" th:text="#{name}">Name</th>
                                <th scope="col" th:text="#{phone1}">Phone 1</th>
                                <th scope="col" th:text="#{phone2}">Phone 2</th>
                                <th scope="col" th:text="#{details}">Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student : ${students}">
                                <td th:text="${student.firstName} + ' ' + ${student.lastName}">Student name</td>
                                <td th:text="${student.contactCommand.phone1}">Phone 1</td>
                                <td th:text="${student.contactCommand.phone2}">Phone 2</td>
                                <td><a th:href="@{/student/{id}(id=${student.id})}" th:text="#{details}">Details</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="card-text user-select-none text-black-50" th:inline="text">Page [[${page}]]/[[${totalPage}]] </p>
                        <nav aria-label="Table navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=1' + '#studentNav'}" th:text="#{firstPage}">First</a></li>
                                <li th:if="${page} - 1 > 0" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page - 1} + '#studentNav'}" th:text="${page - 1}">1</a></li>
                                <li class="page-item active"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page}}" th:text="${page}">2</a></li>
                                <li th:if="${page} + 1 <= ${totalPage}" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page+1} + '#studentNav'}" th:text="${page+1}">3</a></li>
                                <li th:if="${page} + 2 <= ${totalPage}" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page+2} + '#studentNav'}" th:text="${page+2}">4</a></li>
                                <li th:if="${page} + 3 <= ${totalPage}" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page+3} + '#studentNav'}" th:text="${page+3}">5</a></li>
                                <li th:if="${page} + 4 <= ${totalPage}" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page+4} + '#studentNav'}" th:text="${page+4}">6</a></li>
                                <li th:if="${page} + 5 <= ${totalPage}" class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${page+5} + '#studentNav'}" th:text="${page+5}">7</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{'/class/' + ${class.id} + '?currentPage=' + ${totalPage} + '#studentNav'}" th:text="#{lastPage}">Last</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>