.nav-link:hover {
    background-color: #dee2e6;
}

.active-bg {
    background-color: #dee2e6;
}

.classes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}