.nav-link:hover {
    background-color: #dee2e6;
}

.active-bg {
    background-color: #dee2e6;
}

.classes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    color: black;
}

.mouse-default {
    cursor: default;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}