<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::body}, 'home')">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row mt-5">
        <div class="col">
            <h1 th:text="#{welcomeText}">Welcome To Cuong's School</h1>
            <ul>
                <li><h3 class="mt-3 fw-normal" th:text="#{self1}">My name's Cuong, I am Vietnamese, i live in Ho Chi Minh City.</h3></li>
                <li><h3 class="mt-3 fw-normal" th:text="#{self2}">I am a backend developer, I love everything about backend system, especially when working with security and database.</h3></li>
                <li><h3 class="mt-3 fw-normal" th:text="#{self3}">I created this website from crash. Using Java & Spring Framework, with a small knowledge of HTML/CSS and Bootstrap too.</h3></li>
                <li><h3 class="mt-3 fw-normal" th:text="#{self4}">This is just a place for me to enhance my skill. Feel free to have a look.</h3></li>
                <li><h3 class="mt-3 fw-normal" th:inline="text">[[#{self5}]] <a href="https://github.com/NghiemQuangCuong/SchoolDatabaseGenerator">here.</a></h3></li>
                <li><h3 class="mt-3 fw-normal" th:inline="text">[[#{self6}]] <a href="https://github.com/NghiemQuangCuong/spring-school-manager">here.</a></h3></li>
            </ul>
        </div>
    </div>

</body>
</html>